*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR','Yrsa', sans-serif;
}

html,
body{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

        header {
            z-index: 99;
            position: fixed;
            width: 100%;
            height: 90px;
            padding-left: 50px;
            box-shadow: 2px 0px 4px #0000004f;
            background-color: white;

            display: flex;
        }
        #logo {
            width: 90px;
        }
        .topnav {
            width: 120px;
            text-align: center;
            padding: 30px 10px;
            margin-left: 60px;
            font-size: 22px;
            text-decoration: none;
            color: black;
            font-family: 'Yrsa', serif;
        }
        .topnav:hover {
            border-bottom: 3px solid #FD5D5D;
            color: #FD5D5D;
        }

main{
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  margin-top: 11%;
}

#mapbox {
  flex: 1;
  margin-left: 10%;
}

#map {
  width:90%;
  height:500px;
}

#flowerSpot {
  flex: 1;
  text-align: center;
  margin-right: 10%;
  border-top: 2px solid #444444;
}

article {
  padding-bottom: 20px;
  border-bottom: 2px solid #444444;
}

.tableHeader{
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #444444;
  font-size: 2rem;
}

table {
  margin: 0 auto;
  width: 95%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
th {
  background-color: #FF8080;
  color: white;
}
th, td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 5px;
}
th:first-child, .flowerType {
  border-left: none;
}
td:not(.flowerType):hover {
  background-color: rgba(255,128,128,0.2);
}

#flowerPlace {
  cursor: pointer;
}

#dataSource {
  margin-top: 5px;
  text-align: right;
  font-size: x-small;
}

/* 모달 창 */
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  background: rgba(230, 230, 230, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
  background: rgba(253, 93, 93, 0.724);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  width: 550px;
  height: 260px;
  position: relative;
  top: -80px;
  padding: 30px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .title h2 {
  display: inline;
  font-size: 2rem;
  font-weight: 900;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  /* text-shadow: 1px 1px 2px gray; */
  color: white;
  font-size: 1.5rem;
}